<div style="margin: 2.5em 0" class="center fonts color">
  <h2 class="header">Contact Me</h2>
  <mat-divider class="divider"></mat-divider>
  <p class="text">
    Use this form to leave feedback or contact me about anything related to the site. Feel free to send me an email directly if needed at
    <a href="mailto:RNGmanga.com@gmail.com">RNGmanga.com@gmail.com</a> as well. Thanks for taking the time to leave feedback!
    <br />
    <br />
    Please note that your information is NOT stored by the site, it is just used to send me an email and then it's gone.
  </p>

  <ul class="warningText" *ngIf="triedSubmit">
    <li *ngIf="name.errors?.required">
      <mat-error>Name is required</mat-error>
    </li>
    <li *ngIf="email.errors?.required">
      <mat-error>Email is required</mat-error>
    </li>
    <li *ngIf="email.errors?.email">
      <mat-error>Please provide a valid email address</mat-error>
    </li>
    <li *ngIf="message.errors?.required">
      <mat-error>A message is required</mat-error>
    </li>
    <li *ngIf="message.errors?.minlength">
      <mat-error>Please leave a longer message.</mat-error>
    </li>
  </ul>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="feedbackForm" id="contact-form" role="form">
    <mat-form-field appearance="fill">
      <mat-label for="name">Name</mat-label>
      <input type="text" id="name" name="name" [formControl]="name" matInput placeholder="John Doe" required />
      <mat-error *ngIf="name.errors?.required">Name is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="email">Email</mat-label>
      <input type="email" id="email" name="email" [formControl]="email" matInput placeholder="example@example.com" required />
      <mat-error *ngIf="email.errors?.required">Email is required</mat-error>
      <mat-error *ngIf="email.errors?.email">Please provide a valid email address</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="message">Message</mat-label>
      <textarea id="message" rows="15" name="message" [formControl]="message" matInput placeholder="I do not like weebs!" required></textarea>
      <mat-error *ngIf="message.errors?.required">A message is required</mat-error>
      <mat-error *ngIf="message.errors?.minlength">Please leave a longer message</mat-error>
    </mat-form-field>
    <button mat-button type="button" (click)="modal.create()" class="button-color">Send</button>
    <modal-popup #modal [width]="250" [background]="'#212121'">
      <h3 class="modalTitle" title>Are you sure you want to send this message?</h3>
      <div class="modalContent" content>
        <button mat-button type="button" (click)="modal.destroy()" class="confirmButton">No</button>
        <button mat-button type="submit" id="submit" class="confirmButton" style="margin-left: 1em">Yes</button>
      </div>
    </modal-popup>
  </form>

  <modal-popup #successModal [width]="150" [background]="'#212121'">
    <h3 class="modalTitle" title>Thank you for the feedback!</h3>
  </modal-popup>
</div>
