@import "src/themes.scss";
h2 {
  margin: 0;
}

a:link {
  color: #40f99b;
}

a:visited {
  color: #40f99b;
}

.divider {
  position: relative;
}

.text {
  padding-left: 20px;
}

.feedbackForm {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  padding-left: 20px;
}

.color {
  color: white;
}
.button-color {
  background: $primary;
  margin-top: 1em;
}

.confirmButton {
  background: #5c5c5c;
  width: 45%;
}

.modalContent {
  display: flex;
  justify-content: center;
}

.modalTitle {
  padding: 1em 4px;
}

h3 {
  margin: 0;
}

.warningText {
  color: $warn;
}

@media screen and (max-width: 1024px) {
  *.center {
    margin: 2.5em 5% !important;
  }
}

@media screen and (max-width: 425px) {
  .text {
    padding: 0;
  }
  .feedbackForm {
    padding: 0;
  }
  *.center {
    margin: 2.5em 5% !important;
  }
}
