@import "src/themes.scss";

.dark-background {
  background-color: mat-color($primary-palette, 900);
}

.footer-position {
  bottom: 0px;
}

.bottom {
  flex-basis: 100%;
  display: flex;
  flex-flow: wrap;
}

.footerHeader {
  text-align: center;
}

:host ::ng-deep svg {
  width: 35px;
  height: 40px;
}

.coolList {
  list-style-type: "> ";
  margin: 0;
  font-size: 0.85em;
  padding: 0;
  position: relative;
}

.shareSection {
  display: flex;
  flex-flow: wrap;
}

a:link {
  color: mat-color($success-palette, 300);
}

a:visited {
  color: mat-color($success-palette, 300);
}

fa-icon {
  color: white;
}

fa-icon:hover {
  color: mat-color($success-palette, 300);
}

.licenseText {
  width: 33%;
  white-space: normal;
  font-size: 0.8em;
  text-align: center;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  width: 80%;
  flex-flow: wrap;
}

.share {
  flex-basis: 32%;
}

@media screen and (max-width: 1440px) {
  .licenseText {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 1024px) {
  .licenseText {
    width: 100%;
    text-align: left;
  }

  .footerSection {
    width: 33%;
  }

  .footerContent {
    width: 100%;
  }

  *.center {
    margin: 0 5% !important;
  }
}

@media screen and (max-width: 550px) {
  .footerContent {
    flex-direction: column !important;
    text-align: center !important;
    align-items: center !important;
  }

  .shareSection {
    flex-flow: unset;
  }

  h3 {
    width: 100% !important;
  }

  ul {
    list-style: none !important;
    padding: 0;
  }

  .bottom {
    justify-content: center;
  }

  .footerSection {
    width: 100%;
  }
  .licenseText {
    text-align: center;
  }

  .share {
    flex-basis: 100%;
  }

  .shareSection {
    justify-content: center;
  }
}
