<mat-toolbar class="dark-background footer-position" style="height: fit-content; padding: 16px">
  <div class="center footerContent" style="display: flex; justify-content: space-between; width: 60%; flex-flow: wrap">
    <div class="bottom" style="flex-direction: column">
      <h3 style="width: 15%">Share</h3>
      <div style="display: flex; justify-content: space-evenly; width: fit-content">
        <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Frngmanga.com%2F&amp;src=sdkpreparse" style="margin-right: 0.25em">
          <fa-icon [icon]="faFacebook" size="2x"></fa-icon>
        </a>
        <a href="https://twitter.com/intent/tweet?text=https%3A%2F%2Frngmanga.com" style="margin-right: 0.25em">
          <fa-icon [icon]="faTwitter" size="2x"></fa-icon>
        </a>
        <a href="http://www.reddit.com/submit?url=https%3A%2F%2Frngmanga.com" style="margin-right: 0.25em">
          <fa-icon [icon]="faReddit" size="2x"></fa-icon>
        </a>
        <a href="http://tumblr.com/widgets/share/tool?canonicalUrl=https%3A%2F%2Frngmanga.com">
          <fa-icon [icon]="faTumblr" size="2x"></fa-icon>
        </a>
      </div>
    </div>
    <div class="footerSection">
      <h3>About</h3>
      <ul class="coolList">
        <li>
          <a href="#" routerLink="about">Description</a>
        </li>
        <li>
          <a href="#" routerLink="about/terms">Terms of Use</a>
        </li>
        <li>
          <a href="#" routerLink="about/sitemap">Site Map</a>
        </li>
        <li>
          <a href="#" routerLink="about/cookies">Cookies</a>
        </li>
      </ul>
    </div>
    <div class="footerSection">
      <h3>Navigation</h3>
      <ul class="coolList">
        <li>
          <a href="#" routerLink="">Home</a>
        </li>
        <li>
          <a href="#" routerLink="about">About</a>
        </li>
        <li>
          <a href="#" routerLink="about/feedback">Contact</a>
        </li>
        <li>
          <a href="#" routerLink="about/reports">Report Errors</a>
        </li>
      </ul>
    </div>
    <div class="footerSection licenseText">
      <h3>Copyright</h3>
      <div>
        This work is licensed under a
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
          Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License
        </a>
      </div>
    </div>
  </div>
</mat-toolbar>
