<div style="margin: 2.5em 0" class="center fonts color">
  <h2 class="header">Request New Manga</h2>
  <mat-divider class="divider"></mat-divider>
  <p class="text">
    Send the information for a manga you want to be added. I just ask you use the search to determine if it's already there BEFORE submitting the
    form! This will also NOT immediately add the manga, I will review it before adding.
    <br />
    <br />
    Please note that your information is NOT stored by the site, it is just used in the process of submitting and then it's gone!
  </p>

  <ul class="warningText" *ngIf="triedSubmit">
    <li *ngIf="name.errors?.required">
      <mat-error>Name is required</mat-error>
    </li>
    <li *ngIf="email.errors?.required">
      <mat-error>Email is required</mat-error>
    </li>
    <li *ngIf="email.errors?.email">
      <mat-error>Please provide a valid email address</mat-error>
    </li>
    <li *ngIf="title.errors?.required">
      <mat-error>Title is required</mat-error>
    </li>
    <li *ngIf="finished.errors?.required">
      <mat-error>Finished is required</mat-error>
    </li>
    <li *ngIf="genres.errors?.required">
      <mat-error>At least one genre is required</mat-error>
    </li>
    <li *ngIf="synopsis.errors?.required">
      <mat-error>A synopsis is required</mat-error>
    </li>
  </ul>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="reportForm" id="contact-form" role="form" netlify>
    <div class="dividerWrapper">
      <h3>Response Information</h3>
      <mat-divider class="divider"></mat-divider>
    </div>
    <div class="contactInfo">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input type="text" name="name" placeholder="John Doe" id="name" [formControl]="name" matInput required />
        <mat-error *ngIf="name.errors?.required">Name is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" name="email" placeholder="example@example.com" id="email" [formControl]="email" matInput required />
        <mat-error *ngIf="email.errors?.required">Email is required</mat-error>
        <mat-error *ngIf="email.errors?.email">Please provide a valid email address</mat-error>
      </mat-form-field>
    </div>

    <div class="dividerWrapper">
      <h3>Manga Information</h3>
      <mat-divider class="divider"></mat-divider>
    </div>
    <div class="mangaInfo">
      <div class="formFieldWrapper">
        <mat-form-field appearance="fill" class="formField">
          <mat-label>Title</mat-label>
          <input type="text" name="title" placeholder="Na Honjaman Level Up" id="title" [formControl]="title" matInput required />
          <mat-error *ngIf="title.errors?.required">Title is required</mat-error>
        </mat-form-field>
      </div>

      <div class="formFieldWrapper">
        <mat-form-field appearance="fill" class="formField">
          <mat-label>English Title</mat-label>
          <input type="text" name="englishTitle" id="englishTitle" placeholder="Solo Leveling" [formControl]="englishTitle" matInput />
        </mat-form-field>
      </div>

      <div class="formFieldWrapper">
        <mat-form-field appearance="fill" class="formField">
          <mat-label>Alternate Titles</mat-label>
          <input
            type="text"
            name="alternateTitles"
            placeholder="I Level Up Alone, Only I Level Up"
            id="alternateTitles"
            [formControl]="alternateTitles"
            matInput
          />
        </mat-form-field>
      </div>
      <div class="formFieldWrapper">
        <mat-form-field appearance="fill" class="formField">
          <mat-label>Genres</mat-label>
          <input type="text" name="genres" id="genres" placeholder="Action, Adventure, Fantasy" [formControl]="genres" matInput required />
          <mat-error *ngIf="genres.errors?.required">At least one genre is required</mat-error>
        </mat-form-field>
      </div>
      <div class="formFieldWrapper">
        <mat-form-field appearance="fill" class="formField">
          <mat-label>Authors</mat-label>
          <input type="text" name="authors" id="authors" placeholder="Chu-Gong; Jang, Sung-rak" [formControl]="authors" matInput required />
          <mat-error *ngIf="authors.errors?.required">At least one author is required</mat-error>
        </mat-form-field>
      </div>
      <div class="shortControls">
        <div class="shortFormFieldWrapper">
          <mat-form-field appearance="fill" class="shortControl">
            <mat-label>Type</mat-label>
            <mat-select name="type" id="type" [formControl]="type" required (selectionChange)="checkOneShot()">
              <mat-option *ngFor="let type of mangaTypes" [value]="type">
                {{ type }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="type.errors?.required">Type is required</mat-error>
          </mat-form-field>
        </div>
        <div class="shortFormFieldWrapper">
          <mat-form-field appearance="fill" class="shortControl">
            <mat-label>Volumes</mat-label>
            <input type="number" name="volumes" id="volumes" min="0" [formControl]="volumes" matInput />
          </mat-form-field>
        </div>
        <div class="shortFormFieldWrapper">
          <mat-form-field appearance="fill" class="shortControl">
            <mat-label>Chapters</mat-label>
            <input type="number" name="chapters" id="chapters" min="0" [formControl]="chapters" matInput />
          </mat-form-field>
        </div>
        <div class="shortFormFieldWrapper">
          <mat-form-field appearance="fill" class="shortControl">
            <mat-label>Start Date</mat-label>
            <input type="date" name="startDate" id="startDate" [formControl]="startDate" matInput />
          </mat-form-field>
        </div>
        <div class="shortFormFieldWrapper">
          <mat-form-field appearance="fill" class="shortControl">
            <mat-label>End Date</mat-label>
            <input type="date" name="endDate" id="endDate" [formControl]="endDate" matInput />
          </mat-form-field>
        </div>
        <div class="shortFormFieldWrapper">
          <mat-form-field appearance="fill" class="shortControl">
            <mat-label>Finished</mat-label>
            <mat-select name="finished" id="finished" [formControl]="finished" required>
              <mat-option [value]="true"> Yes </mat-option>
              <mat-option [value]="false"> No </mat-option>
            </mat-select>
            <mat-error *ngIf="finished.errors?.required">Finished is required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="formFieldWrapper">
        <mat-form-field appearance="fill" class="formField">
          <mat-label>Synopsis</mat-label>
          <textarea name="synopsis" id="synopsis" [formControl]="synopsis" matInput rows="15" placeholder="Once upon a time..." required></textarea>
          <mat-error *ngIf="synopsis.errors?.required">A synopsis is required</mat-error>
        </mat-form-field>
      </div>
      <div class="formFieldWrapper">
        <mat-form-field appearance="fill" class="formField">
          <mat-label>Other</mat-label>
          <textarea
            name="other"
            id="other"
            [formControl]="other"
            matInput
            rows="5"
            placeholder="This manga is on hiatus until futher notice"
          ></textarea>
        </mat-form-field>
      </div>
    </div>

    <button mat-button type="button" id="send" class="button-color" (click)="modal.create()">Submit</button>
    <modal-popup #modal [width]="250" [background]="'#212121'">
      <h3 class="modalTitle" title>Are you sure you want to submit this edit?</h3>
      <div class="modalContent" content>
        <button mat-button type="button" (click)="modal.destroy()" class="confirmButton">No</button>
        <button mat-button type="submit" id="submit" class="confirmButton" style="margin-left: 1em">Yes</button>
      </div>
    </modal-popup>
  </form>

  <modal-popup #successModal [width]="150" [background]="'#212121'">
    <h3 class="modalTitle" title>Thank you!</h3>
  </modal-popup>
</div>
