@import "src/themes.scss";

a:link {
  color: #40f99b;
}

a:visited {
  color: #40f99b;
}
.color {
  color: white;
}
.warningText {
  color: $warn;
}

.reportForm {
  display: flex;
  flex-flow: column wrap;
  margin-top: 1em;
}

.shortControls {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

:host::ng-deep .mat-select-value-text {
  line-height: 1.125 !important;
}

.editButton {
  position: absolute;
  right: 0;
  bottom: 1.5em;
  height: 24px;
  background: #5c5c5c;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 1);
  padding: 0;
  height: fit-content;
  margin-bottom: 0.5em;
}

.editButton:hover {
  color: rgba(255, 255, 255, 0.25);
}

.formField {
  width: 100%;
}

.formFieldWrapper {
  width: 100%;
  height: fit-content;
  position: relative;
}

.shortFormFieldWrapper {
  flex-basis: 30%;
  position: relative;
}

.shortControl {
  width: 100%;
}

input {
  width: calc(100% - 2.5em);
  text-overflow: ellipsis;
}

.button-color {
  background: $primary;
  margin-top: 1em;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

.contactInfo {
  margin-top: 1em;
  display: flex;
  flex-flow: column wrap;
}

.mangaInfo {
  margin-top: 1em;
}

.divider {
  position: relative;
}

.dividerWrapper {
  width: fit-content;
}

:host::ng-deep .mat-input-element:disabled {
  color: rgb(255, 255, 255, 0.8);
}

:host::ng-deep .mat-select-disabled .mat-select-value {
  color: rgb(255, 255, 255, 0.8);
}

.modalContent {
  display: flex;
  justify-content: center;
}

.modalTitle {
  padding: 1em 4px;
}

.confirmButton {
  background: #5c5c5c;
  width: 45%;
}

ul {
  padding: 0;
}
