@import "src/themes.scss";

.divider {
  position: relative !important;
}

.header {
  margin-bottom: 4px;
}

.wrapper {
  width: fit-content;
}

.text {
  padding-right: 20px;
  padding-left: 20px;
}

.siteCardInner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.siteCardInnerContent {
  width: 80%;
}

h3 {
  margin: 0;
}

h2 {
  margin: 0;
}

a:link {
  color: #40f99b;
}

a:visited {
  color: #40f99b;
}

.siteCardWrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.siteCardSpacer {
  margin-bottom: 2em;
}

.color {
  color: white !important;
}
