@import "src/themes.scss";

mat-card {
    background-color: $primary;
    display: inline-block; 
    padding-bottom: 0;
}

span {
    font-weight: 600;
}

.hiddenDiv-title {
    display: flex;
    flex-basis: 100%;
    width:  100%;
    justify-content: space-between;
    padding-bottom: 16px;
    position: relative;
}

.matCard-paddingBottom {
    padding-bottom: 32px;
}

.selector {
    padding-right: 1em;
}