<div style="margin: 5em 0">
  <ng-container *ngIf="mangas.length > 0; else elseTemplate">
    <form class="search center-10" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <input type="search" class="searchInput fonts" placeholder="Search" [formControl]="query" aria-label="Search for manga" />
      <button type="submit" class="searchIcon">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
    </form>
    <div #searchContainer></div>
    <button
      mat-button
      class="fullCenter loadMoreButton"
      (click)="incrementIndices(); showMore(currentFirstIndex, currentLastIndex)"
      *ngIf="mangas.length >= currentLastIndex"
      aria-label="Load More"
    >
      Load More
    </button>
  </ng-container>
  <ng-template #elseTemplate>
    <not-found [error]="'Manga not found'" [num]="420"></not-found>
  </ng-template>
</div>
