h3 {
    margin: 0;
}

.header {
    border-top-left-radius: 4px; 
    border-top-right-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; 
}

.card {
    width: 300px; 
    background: #424242; 
    padding: 0; 
}

a:link {
    color: #DFDFDF !important;
}

a:visited {
    color: #DFDFDF !important;
}