h3 {
  margin: 0;
}

.header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.card {
  width: 300px;
  background: #212121;
  padding: 0;
  box-shadow: -2px 4px 3px -1px rgba(0, 0, 0, 0.18), 0px 3px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 2px 0px rgba(0, 0, 0, 0.12) !important;
}

a:link {
  color: #dfdfdf !important;
}

a:visited {
  color: #dfdfdf !important;
}
