<h1 class="txt-color center welcome-header">Welcome to RandomManga</h1>

<p class="txt-color center welcome-text">
    Hi, I'm Ethan, also known as Lycanthropy, I'm the creator of RandomManga. This site takes heavy inspiration in both form and functionality
    from <a href="https://www.randomanime.org/" class="txt-color udl">RandomAnime</a>. For those of you not familiar with it, it lists out random anime suggestions based on your preferences. 
    But, if you want that same thing but for manga, manwha and manhua, this is the place to be! Generate random lists of manga based on various different settings. 
    These settings will be used to create a list of manga with at least one or two that you will surely love. Please use the contact form found on the <a href="/about" class="txt-color udl">About</a> 
    page to give me more suggestions to improve the site! Also, please suggest more manga, manwha and manhua to add to the list, 
    what I have now is just some stuff gathered from MyAnimeList, so more stories to add are always appreciated. Before you suggest,
    please check out the search function and <a href="/todo" class="txt-color udl">To Do List</a> to avoid duplicate requests! I am currently running this site off of a Raspberry Pi in my house, 
    so any donations to help me upgrade to an actual hosting site are very much appreciatied. Thanks for checking out RandomManga!

    <span>To get started on your search, please scroll down!</span> 
</p>