@import "src/themes.scss";
.dark-background {
  background-color: $primary;
}

.udl {
  text-decoration: underline;
}

ul {
  list-style: none;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

.divider {
  position: relative !important;
}

.text {
  padding-left: 20px;
}

.header {
  padding-right: 20px;
  padding-left: 20px;
}

.dividerWrapper {
  width: fit-content;
}

.optionsList {
  padding: 0;
  width: fit-content !important;
}

//NEW CSS
//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
.introductionSection {
  background: #5c5c5c;
  height: 70%;
  position: relative;
  padding: 6em 0;
  padding-bottom: 10em;
}

.description {
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  width: 578px;
}

.verticalLine {
  border-left: 1px solid #dfdfdf;
  position: absolute;
  left: 50%;
  top: 0;
  height: calc(336px + 10em);
}

.headingButton {
  background: $primary;
  color: #dfdfdf;
  width: 50%;
  font-size: 20px;
  vertical-align: middle;
}

.descriptionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 336px;
  padding-bottom: 4em;
}

.quickSuggestTitle {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 0.85em;
}

.quickSuggestListWrapper {
  display: flex;
  justify-content: center;
}

.quickSuggestList {
  padding: 4px;
  width: fit-content;
  background: $primary;
}

.listWrapper {
  display: flex;
  flex-flow: wrap;
}

.dailyRecs {
  background: #555555;
  padding: 10em 12em;
}

.bottomBorder {
  display: flex;
  border-bottom: 1px solid #dfdfdf;
}

.featureWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 20%;
  margin-top: 6em;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.featureText {
  text-align: center;
  width: 150px;
  margin-top: 8px;
}

.generator {
  background: #5c5c5c;
  padding: 10em 12em;
}

.quickSuggestTop {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  margin-bottom: 6em;
}

.quickSuggestBottom {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
}
