<h1 class="txt-color center welcome-header">Welcome to RNGmanga.com</h1>

<p class="txt-color center welcome-text">
    Yo
    Eu4yea
    It's your boy Danny playing solo, ayy
    You know who's getting all those vicroys
    Fortnite, Fortnite
    What's the point of building forts you're goin' night, night
    Fortnite, Fortnite
    What's the point of building forts you're goin' night, night
    John Wick coming with the V-Bucks
    Ask mommy for the Visa (Skrr, Skrr)
    Choppin' trees, Mickey D's, shootin' spree, Ali-A
    And you see me and you freeze
    Drop a knee, join my team
    Ten, ten damage, that's a bug bite
    50 damage, you aight-ight
    100 damage, get some minis
    200 damage, gimme the loot, gimme the loot
    Fortnite, Fortnite
    What's the point of building forts you're goin' night, night
    Fortnite, Fortnite
    What's the point of building forts you're goin' night, night
    I'm gonna bounce and blast you off this tire
    Your mom's armpits smell like a Moisty Mire
    Get some slurp juice, get some slurp-slurp
    When you hurt, you'll be crawlin' in the dirt-dirt
    Hey hater, get on the elevator
    Press L 'cause you're goin' to the lobby
    I'm trappin' everywhere, you're trapped under there
    150 damage in your underwear (Skrr, skrr)
    Fortnite, Fortnite
    What's the point of building forts you're goin' night, night
    Fortnite, Fortnite
    What's the point of building forts you're goin' night, night
    Fortnite, Fortnite
    What's the point of building forts you're goin' night, night
    Fortnite, Fortnite
    What's the point of building forts you're goin' night, night

    Yo
    Eu4yea
    It's your boy Danny playing solo, ayy
    You know who's getting all those vicroys
    Fortnite, Fortnite
    What's the point of building forts you're goin' night, night
    Fortnite, Fortnite
    What's the point of building forts you're goin' night, night
    John Wick coming with the V-Bucks
    Ask mommy for the Visa (Skrr, Skrr)
    Choppin' trees, Mickey D's, shootin' spree, Ali-A
    And you see me and you freeze
    Drop a knee, join my team
    Ten, ten damage, that's a bug bite
    50 damage, you aight-ight
    100 damage, get some minis
    200 damage, gimme the loot, gimme the loot
    Fortnite, Fortnite
    What's the point of building forts you're goin' night, night
    Fortnite, Fortnite
    What's the point of building forts you're goin' night, night
    I'm gonna bounce and blast you off this tire
    Your mom's armpits smell like a Moisty Mire
    Get some slurp juice, get some slurp-slurp
    When you hurt, you'll be crawlin' in the dirt-dirt
    Hey hater, get on the elevator
    Press L 'cause you're goin' to the lobby
    I'm trappin' everywhere, you're trapped under there
    150 damage in your underwear (Skrr, skrr)
    Fortnite, Fortnite
    What's the point of building forts you're goin' night, night
    Fortnite, Fortnite
    What's the point of building forts you're goin' night, night
    Fortnite, Fortnite
    What's the point of building forts you're goin' night, night
    Fortnite, Fortnite
    What's the point of building forts you're goin' night, night
</p>

<generator-form></generator-form>