<div class="center color fonts" style="margin: 2.5em 0">
  <h2>Cookie Policy</h2>
  <mat-divider class="divider"></mat-divider>
  <p class="text">
    This cookie policy ("Policy") describes what cookies are and how and they're being used by the rngmanga.com website ("Website" or "Service") and
    any of its related products and services (collectively, "Services"). This Policy is a legally binding agreement between you ("User", "you" or
    "your") and this Website operator ("Operator", "we", "us" or "our"). You should read this Policy so you can understand the types of cookies we
    use, the information we collect using cookies and how that information is used. It also describes the choices available to you regarding accepting
    or declining the use of cookies.
  </p>
  <div class="wrapper">
    <h3>What are cookies?</h3>
    <mat-divider class="divider"></mat-divider>
  </div>
  <p class="text">
    Cookies (also known as internet cookies, web cookies, browser cookies or HTTP cookies) are small pieces of information in the form of a text file,
    containing a string of letters and numbers. This file is sent from a website to the person’s browser where they get saved before going back to the
    same website. Each cookie is unique in its own way and can’t pass viruses or capture personal information on your computer. It enables the
    websites to work more efficiently, recognizing and remembering certain information, such as login details. Cookies are very common, and you
    probably have thousands of them stored right now on your computer. For more information please visit
    <a href="https://internetcookies.org">internetcookies.org</a>
  </p>
  <div class="wrapper">
    <h3>What kind of cookies do we use?</h3>
    <mat-divider class="divider"></mat-divider>
  </div>
  <p class="text">
    We don't use any first-party cookies as of now, just third party cookies for analytical purposes. These specifically come from Google Analytics.
    These cookies enable us to collect data for statistical purposes on how you are visiting and using the site, so that it can be improved. These
    cookies do not contain personal information like names and email addresses. For more information about the specific cookies being used, please
    visit the Google Analytics <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">documentation</a>.
  </p>
  <div class="wrapper">
    <h3>Changes to this Policy</h3>
    <mat-divider class="divider"></mat-divider>
  </div>
  <p class="text">
    We reserve the right to make any changes to this policy at any time, effective upon the posting of the new Policy on this Website. When changes
    are made a notification will be posted on the Website. Continuing to use the Website after any such changes have been made constitutes consent to
    such changes.
  </p>
  <div class="wrapper">
    <h3>Acceptance of this Policy</h3>
    <mat-divider class="divider"></mat-divider>
  </div>
  <p class="text">
    Having read this Policy you acknowledge that you have read and agree to all terms presented. By accessing and using the Website and Services you
    agree to be bound by this Policy. If you do NOT agree to this policy, please cease use of the Website and Services, as you are not authorized to
    access or use them.
  </p>
  <div class="wrapper">
    <h3>Contact</h3>
    <mat-divider class="divider"></mat-divider>
  </div>
  <p class="text">
    If you have any questions, concerns, or would like to contact us about this Policy, please contact us via the
    <a routerLink="/feedback">contact form</a>.
  </p>
</div>
