<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false"
        [ngClass]="{hidden: !(isHandset$ | async)}">
        <mat-toolbar class="dark-background">Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item href="#" routerLink="home">Home</a>
            <a mat-list-item href="#" routerLink="about">About</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="light-background">
        <div class="page-wrap">
            <header role="banner">
                <mat-toolbar class="dark-background">
                    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                        *ngIf="isHandset$ | async">
                        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                    </button>
                    <logo class="site-logo"></logo>
                    <span class="spacer"></span>
                    <ul [ngClass]="{hidden: (isHandset$ | async)}">
                        <li><a href="#" routerLink="home" class="txt-color"> Home </a></li>
                        <li><a href="#" routerLink="about" class="txt-color"> About </a></li>
                    </ul>
                </mat-toolbar>
            </header>
            <main class="content">
                <router-outlet></router-outlet>
            </main>
            <footer>
                <main-footer></main-footer>
            </footer>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>