<div class="selectableWrapper">
  <button
    *ngFor="let value of selectableValues; let i = index"
    class="selectableButton"
    [ngStyle]="{
      'background-color': defaultValue == selectableValues[i] ? '#212121' : colors[i]
    }"
    #tooltip="matTooltip"
    matTooltip="{{ value.text }}"
    matTooltipPosition="below"
    [value]="value"
    (click)="toggle(value, i)"
    [class.firstButton]="i == 0"
    [class.lastButton]="i == selectableValues.length - 1"
  >
    <fa-icon [icon]="value.fa"></fa-icon>
  </button>
</div>
