@import "src/themes.scss";

.decButton {
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  margin-left: 10%;
  height: 100%;
  z-index: 1;
  background: inherit;
  border: none;
  outline: none;
  overflow: hidden;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

  &:focus {
    background: rgb(255, 255, 255, 0.3);
  }

  &:disabled {
    ::ng-deep .mat-ripple-element {
      display: none;
    }
  }
}

.incButton {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  margin-right: 10%;
  height: 100%;
  z-index: 1;
  background: inherit;
  border: none;
  outline: none;
  overflow: hidden;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  &:focus {
    background: rgb(255, 255, 255, 0.3);
  }

  &:disabled {
    ::ng-deep .mat-ripple-element {
      display: none;
    }
  }
}

.iconColor {
  color: white;
}

.position {
  position: absolute;
  margin-right: calc(100% - 10% - 340px - 1em + 5.675em);
  right: 0;
  top: calc(1em + 325px);
  font-size: 1.125em;
  vertical-align: middle;
  width: fit-content;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .incButton {
    width: calc(50% - 12px);
    margin-right: 12px;
  }

  .decButton {
    width: calc(50% - 12px);
    margin-left: 12px;
  }

  .position {
    margin-right: calc(100% - 12px - 340px - 1em + 5.675em);
  }
}

@media screen and (max-width: 767px) {
  .position {
    margin-right: calc(100% - 50% - 1em - 5.25em);
  }
  .incButton {
    margin-right: 8px;
  }

  .decButton {
    margin-left: 8px;
  }
}
