<div class="fonts" style="position: relative; width: 100%; height: 100%">
  <ng-container *ngIf="mangas[currentIndex]; then thenTemplate; else elseTemplate"></ng-container>
  <ng-template #thenTemplate>
    <button matRipple (click)="decrement()" class="decButton" [disabled]="currentIndex == 0" [@buttonFade]="'in'">
      <fa-icon [icon]="faArrowLeft" class="iconColor" size="4x" [@arrowFade]="'out'"></fa-icon>
    </button>
    <button matRipple (click)="increment()" class="incButton" [disabled]="currentIndex == mangas.length - 1" [@buttonFade]="'in'">
      <fa-icon [icon]="faArrowRight" class="iconColor" size="4x" [@arrowFade]="'out'"></fa-icon>
    </button>
    <span class="position"> {{ currentIndex }} / {{ mangas.length }} </span>

    <manga-display [manga]="mangas[currentIndex]"> </manga-display>
  </ng-template>
  <ng-template #elseTemplate>
    <not-found [error]="'No Manga Found'" [num]="420"></not-found>
  </ng-template>
</div>
