@import "src/themes.scss";

.decButton {
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  margin-left: 10%;
  height: 100%;
  z-index: 1;
  background: inherit;
  border: none;
  outline: none;
  overflow: hidden;
}

.incButton {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  margin-right: 10%;
  height: 100%;
  z-index: 1;
  background: inherit;
  border: none;
  outline: none;
  overflow: hidden;
}

.iconColor {
  color: white;
}

button:disabled {
  .iconColor {
    color: rgb(255, 255, 255, 0.25);
  }
}
