@import url(https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700&display=swap);

.random-txt { 
    display: block;
    margin-bottom: -0.25em;
    font-size: 1.5em;
}

.manga-txt { 
    color: #E57A44;
    margin: 0 0 0 0.87em; //0.87em
    font-size: 1.3em; 
}
    

div {
    display: inline-block;
    padding: 0 5px 0 5px;
    font-family: "Big Shoulders Stencil Display";
}