<mat-card style="margin-top: 2.5em" class="center primary txt-color">
    <h2 class="header">Terms of Use</h2>
    <mat-divider class="divider"></mat-divider>
    <p style="margin-left: 20px">
        Usage of the website, RNGmanga.com, is <strong>ONLY</strong> permitted if in full agreement with the following
        terms.
        If you do <strong>NOT</strong> agree with the following terms, please terminate use of the website
        <strong>IMMEDIATELY</strong>.
    </p>

    <div class="top wrapper">
        <h3 class="subheader">References</h3>
        <mat-divider class="divider"></mat-divider>
    </div>
    <p>
        "This website", "The Site", and all variations refer to the website RNGmanga.com. "The owner" and all
        variations
        refer to
        the individual Ethan Kircher.
    </p>

    <!-- TODO: Link email to open mail -->
    <div class="wrapper">
        <h3 class="subheader">Site Overview</h3>
        <mat-divider class="divider"></mat-divider>
    </div>
    <p>
        The Site RNGmanga.com is personally run, and owned by the individual, Ethan Kircher. The Site is
        unaffiliated
        with
        any company or business. The primary contact for the owner is msilycanthropy@gmail.com
    </p>

    <div class="wrapper">
        <h3 class="subheader">Licensing</h3>
        <mat-divider class="divider"></mat-divider>
    </div>
    <p>
        All images, titles, and other information regarding any comics present on the Site are not the property
        of
        this
        website.
        They are the property of their individual copyright owners and are utilized in a method meant to support
        the
        original copyright owner.

        Manga information, such as title, rating, synopsis, etc., is provided, in combination, by the databases
        AniList
        and
        MyAnimeList.

        All icons are provided by FontAwesome.

        All other content not previously mentioned is the propery of the owner. This content is protected under
        the
        Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.
    </p>

    <div class="wrapper">
        <h3 class="subheader">Donations</h3>
        <mat-divider class="divider"></mat-divider>
    </div>
    <p>
        The Site accepts donations with the agreement that said funds are gifts to the owner and may be used at
        their
        personal disgression.
        These donations are accepted securly via PayPal and are final. The donations cannot be cancelled or
        refunded.
        This
        website does not
        store any of the information regarding the donation. Please refer to PayPal's terms of use and other
        policies
        for
        information regarding
        how they handle the transfer of funds.
    </p>

    <div class="wrapper">
        <h3 class="subheader">Privacy</h3>
        <mat-divider class="divider"></mat-divider>
    </div>
    <p>
        This website does not collect or store any personal information from the users. Any information passed
        to
        the
        Site
        is
        held only temporarily until the proper methods are performed. The website however, does use third party
        apps
        which
        may
        store public user information. Please refer to their terms of use for further information.
    </p>

    <!-- TODO: Link email to open mail -->
    <div class="wrapper">
        <h3 class="subheader">Inquiry</h3>
        <mat-divider class="divider"></mat-divider>
    </div>
    <p>
        For any further questions, please contact msilycanthropy@gmail.com
    </p>
</mat-card>