@import "src/themes.scss";

.primary {
    background-color: $primary;
}

.wrapper {
    width: fit-content;
}

.header {
    margin-bottom: 4px;
}

.subheader {
    margin-bottom: 4px;
    padding-right: 20px;
    padding-left: 20px;
}

.top {
    margin-top: 16px;
}

.divider {
    position: relative !important;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}