.site-logo {
  padding-left: 16px;
  height: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  li a {
    padding: 1em;
    padding-left: 2em;
    &:hover {
      color: #97b883 !important;
    }
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

@media screen and (max-width: 550px) {
  .bigNavigation {
    display: none;
  }
}
